[submodule "arduino/arduinoLeonardoTerminal/src/IT_Server"]
	path = arduino/arduinoLeonardoTerminal/src/IT_Server
	url = https://github.com/erichstuder/IT_Server.git
[submodule "arduino/IT_Client"]
	path = arduino/IT_Client
	url = https://github.com/erichstuder/IT_Client.git
